
*{
  margin:0;
  padding:0;
}

nav{
  background-color:#2874f0;

}
nav{
  display:flex;
}
nav ul{
  display: flex;
  height: 60px;
  align-items: center;

}
nav ul li{
  list-style: none;
  padding: 10px;
}
nav ul li a{
  color:white;
  text-decoration: none;

}
.more{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width:70px;
  padding: 0 20px;
}
.searchicon{
  height: 10px;
  width: 30px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;

}
.search input{
  height:25px;
  width:35vw;
  align-items: center;

}
.middle{
  min-height: calc(100vh - 60px - 15vh);
}
.searchicon{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
margin-left: 10px;
margin-top: 5px;

}
.searchicon {

  display: flex;
  height: 20px;
  right:40px;

}
.more{
  display: flex;
  align-items: center;
}
.more a{
  color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 0 20px;

}
.cart{
  position: relative;
  display: flex;
  align-items: center;
}
.cart p{
padding: 0 30px 0 90px;
  color: white;
    font-family: 'Lato', sans-serif;
}
.cartlogo{
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.cartlogo img{
  height: 25px;

}
.slider{
  display: flex;
  justify-content: center;
margin:20px 0;
overflow:hidden;

}
.slider img{
  width:80vw;
}

.card{
  overflow-x: scroll;
  max-width: 90vw;
  margin:auto;
}
h2{
  font-family: 'Oswald', sans-serif;
}
.spec{
  font-family: 'Nunito', sans-serif;

}
.spec p{
margin: 5px 0;
}
.m2{
  margin: 20px 0;
}
.carditem{
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.cards{
  margin: 20px 0;
  display: flex;
}
nav ul a:hover{
  color:#323232;
}
.more a:hover{
  color:#323232;
}
footer p a {
  text-decoration: none;
  color:white;
}
footer p a:hover{
  color:#323232;
}
footer p{
   font-family: 'Oswald', sans-serif;
}
footer{
  background-color:#2874f0;
  color: white;

  height:15vh;
  display: flex;
  align-items: center;
  justify-content:center;


}
nav ul li{
  font-family: 'Lato', sans-serif;
}
